{% extends "principal.html" %}
{% block contenido %}
<div class="container mt-4">
    <h2>Editar Usuario</h2>
    
    <form action="{% url 'usuario_editar' id=id %}" method="post" enctype="multipart/form-data"> 
        {% load django_bootstrap5 %}
        {% csrf_token %} 
        
        <div class="mb-4">
            {% bootstrap_field formulario.nombre_usuario show_label=True %}
            {% if formulario.nombre_usuario.errors %}
            <div class="alert alert-danger">
                {% if formulario.nombre_usuario.errors %}
                <div class="invalid-feedback">
                    {% for error in formulario.nombre_usuario.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.email show_label=True %}
            {% if formulario.email.errors %}
            <div class="alert alert-danger">
                {% if formulario.email.errors %}
                <div class="invalid-feedback">
                    {% for error in formulario.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            {% endif %}
        </div>


        <div class="mb-4">
            {% bootstrap_field formulario.bio show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.foto_perfil show_label=True %}
        </div>

        {% bootstrap_button "Actualizar" button_type="submit" button_class="btn-primary" %}
    </form>
</div>
{% endblock %}