{% extends 'principal.html' %}

{% block contenido %}

   <div class="row">
    
       {% for usuario in usuarios_mostrar %}
           <div class="col-md-4 mb-4">
               <div class="card">
                   <img src="{{ usuario.foto_perfil_url }}" class="card-img-top">
                   <div class="card-body">
                       <h5>{{ usuario.nombre_usuario }}</h5>
                       <p>{{ usuario.ciudad }}</p>
                       <p class="text-muted">{{ usuario.rol_display }}</p>
                       <div class="mt-2">
                        <span class="badge bg-primary">Publicaciones: {{ usuario.albumes.count}}</span>
                           <span class="badge bg-primary">Seguidores: {{ usuario.seguidores_count }}</span>
                           <span class="badge bg-primary">Seguidos: {{ usuario.seguidos_count }}</span>
                       </div>
                   </div>
               </div>
           </div>
       {% empty %}
           <p>No se encontraron usuarios</p>
       {% endfor %}
   </div>
</div>
{% endblock %}